@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
.scroll-smooth {
  scroll-behavior: smooth;
}
html {
  @apply scroll-smooth;
}
body {
  background-color: rgba(
    235,
    240,
    250,
    0.7
  ); /* Light background color that allows squares to be visible */
  background-size: cover;
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
}

main {
  @apply px-2 md:px-6 lg:px-6 text-left w-full h-full;
  p {
    @apply text-gray-700;
  }
}
h2 {
  @apply text-2xl tracking-normal leading-relaxed pb-8 font-medium text-black;
}
nav {
  @apply w-full flex justify-between py-1 items-center px-0 md:px-4 lg:px-4;
}
.pattern {
  background-image: radial-gradient(#a3a1a1 2px, transparent 2px);
  background-size: 50px 50px;
  background-color: rgba(0, 0, 0, 0);
}

.no-scroll {
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 100%;
  z-index: 50;
  box-sizing: border-box;
  right: 0;
  transition: right 650ms;
  width: 100vw;
  height: 100vh;
  background-color: white;
  visibility: hidden;
}

.menu.open {
  top: 0;
  visibility: visible;
}

.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  @apply text-gray-700;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 250ms ease-out;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link.active::before {
  width: 100%;
}
.nav-link.active {
  @apply text-primary;
}

/* nav{
  @apply sticky top-0 backdrop-blur-lg h-8 py-8 z-50
} */
.btn-style {
  @apply px-4 py-2 bg-white border border-black text-black font-bold rounded-lg hover:bg-black hover:text-white transition-colors;
  /* Masonry grid styles */
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }
}
