@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
.scroll-smooth {
  scroll-behavior: smooth;
}
html {
  @apply scroll-smooth;
}
body {
  background:
    linear-gradient(
      to right,
      rgba(235, 240, 250, 0.7),
      rgba(235, 240, 250, 0.7)
    ),
    linear-gradient(
      to left,
      rgba(235, 240, 250, 0.7),
      rgba(235, 240, 250, 0.7)
    ),
    url('/graphnew.png') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  @apply pb-20 scroll-smooth;
}

main {
  @apply p-2.5 md:px-10 lg:px-36 text-left w-full h-full;
  p {
    @apply text-gray-600;
  }
}
h2 {
  @apply text-2xl tracking-normal leading-relaxed pb-8 font-medium text-black;
}
nav {
  @apply w-full flex justify-between pb-10 pt-5 items-center px-0 md:px-4 lg:px-24;
}
.pattern {
  background-image: radial-gradient(#a3a1a1 2px, transparent 2px);
  background-size: 50px 50px;
  background-color: rgba(0, 0, 0, 0);
}
/* .confetti {
  background: url('/confetti4.gif');
  background-size: cover;
  background-repeat: no-repeat;
} */

.no-scroll {
  overflow: hidden;
}
